@function color($value) {
    @if map-has-key($colors, $value) {
        @return map-get($colors, $value);
    }

    @warn "Unused `#{$value}` in $colors";
    @return null;
}

$colors: (
    primary: #000,
    secondary: #000,
    link: #333,
    light: #fff,
);