
header{
    width: 100%;
    background: #000;
    color: color(light);
    display: flex;
    justify-content: space-between;
    #header-logo{
      font-size: 40px;
      margin-left: 5px;
    }
    nav{
      display: block;
      align-self: center;
      a{    
        text-decoration: none;
        color: color(light);
        padding: 0 2px;
        &:hover{
          transition: .3s;
          opacity: 0.6;
        }
      }
      margin-right: 5px;
    }
  }