.imgButton {
  border: solid 2px black;
  border-radius: 15px;
  display: block;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: .4s;
  transition: .4s;
  color: #000;
  text-decoration: none;
  font-size: 18px;
}

.imgButton:hover {
  cursor: pointer;
  opacity: .4;
}

.imgButton img {
  width: 260px;
}

.linkButton {
  color: #000;
  display: block;
  margin: auto;
  opacity: 0.4;
  -webkit-transition: .4s;
  transition: .4s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.linkButton:hover {
  opacity: 1;
}

.subjectSelection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.subjectSelection h2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  margin: 50px 0;
}

.descriptionSection {
  max-width: 50%;
}

.descriptionSection img {
  width: 400px;
}

.noClick {
  pointer-events: none;
}

header {
  width: 100%;
  background: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 0;
}

header #header-logo {
  font-size: 40px;
  margin-left: 5px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

header #header-logo:hover {
  opacity: .4;
}

header nav {
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 5px;
}

header nav a {
  text-decoration: none;
  color: #fff;
  padding: 0 2px;
}

header nav a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0.6;
}

#uitgelicht {
  display: block;
  margin: auto;
  text-align: center;
}

#drawingboard #cfd {
  display: block;
  border: 2px solid black;
  margin: auto;
}

#drawingboard button {
  width: 40px;
  height: 40px;
  border: solid 2px black;
  margin: 5px;
}

#drawingboard button#red {
  background: red;
}

#drawingboard button#blue {
  background: blue;
}

#drawingboard button#green {
  background: lime;
}

#drawingboard button#purple {
  background: magenta;
}

#drawingboard button#orange {
  background: #f08c64;
}

#drawingboard button#gray {
  background: #646464;
}

#drawingboard button#black {
  background: black;
}

#drawingboard button#brown {
  background: saddlebrown;
}

#drawingboard button#yellow {
  background: yellow;
}

#drawingboard button img {
  width: 25px;
}

#drawingboard button:hover {
  cursor: pointer;
}

#drawingboard #workbench {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#drawingboard #workbench #bucket.active {
  border-color: #909090;
}

html, body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
  text-align: center;
}

.button {
  padding: 10px 15px;
  background: #000;
  color: #fff;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  display: inline-block;
  margin: 20px;
}

.button a {
  color: #fff;
  text-decoration: none;
}

.button:hover {
  background: #333;
}

.col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=App.css.map */